h1 {
  text-align: center;
  font-family: sans-serif;
  color: #718093;
}
table,
th,
td {
  border-collapse: collapse;
  font-family: sans-serif;
}

td {
  width: 60px;
  height: 60px;
  text-align: center;
  border: 3px solid #1c2833;
}

.black {
  background-color: #718093;
}
.harfler,
.sayilar {
  background-color: #f0f3f4;
}
